<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<appSettings>
		<add key="CoilID_MSG_Length" value="10"/>
		<add key="CoilID_MSG_Offset" value="8"/>
		
		<add key="SocketHost" value="10.96.163.101"/>
		<add key="SocketPort" value="8001"/>
		
		<add key="OracleUser" value="gauge_usr"/>
		<add key="OraclePassword" value="gauge_pwd"/>
		<add key="OraclePackage" value="pck_gauge"/>
		<add key="OracleWriteToDataBase" value="True"/>
		<add key="OracleDataSource" value="(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)
																	 (HOST = localhost)
																	 (PORT = 1521))
														  (CONNECT_DATA = (SERVER = DEDICATED)
																		  (SERVICE_NAME = CGL_S)))"/>
	</appSettings>
</configuration>
